.formLayout {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 15px;
}

.lockIcon {
    font-size: 45px;
    flex-shrink: 0;
    margin: 0 10px;
} 


.innerBtn {
    background-color: #F08700;
    border-radius: 0;
    font-size: 25px;
    width: 100%;
}

.btnblock {
    display: block !important;
    width: 400px !important;
    margin:  0 auto;
}

.privacyMsgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #E3E2E2;
    margin: 30px 0 40px 0;
}

.privacyMsgBox p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

.fieldWrapper input{
    margin-bottom: 20px;
}

.checkboxWrapper {
    margin-bottom: 10px;
}

.checkboxWrapper input {
    width: 16px;
    height: 16px;
    accent-color: #25CED1;
    color: #fff;
}

.checkboxWrapper span {
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}

.inputField,
.commentBox {
    width: 100%;
    border: 1px solid #E3E2E2;
    box-shadow: inset -2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px !important;
    padding: 10px;
    /* margin: 19px 0; */
}

.inputField::placeholder,
.commentBox::placeholder {
    color: #B7B7B7;
}

.inputField:focus,
.commentBox:focus {
    outline: none;
}

.inputField:focus-visible,
.commentBox:focus-visible {
    outline: none;
}

.commentBox {
    min-height: 200px;
    height: auto;
}

.sideWrapper {
    display: flex;
}

.passwordWrapper {
    margin-top: 100px;
}

@media screen and  (max-width:767px){
    .passwordWrapper {
        margin-top: 0;
    }
}

@media screen and  (max-width:425px){
    .btnblock {
        width: 220px !important;
    }

    .innerBtn {
        font-size: 20px;
    }
    .formLayout {
        margin-bottom: 25px;
    }

    .privacyMsgBox p {
        font-size: 17px;
    }

    .checkboxWrapper span {
        font-size: 18px;
    }

    .lockIcon {
        font-size: 33px;
    }
}

@media screen and  (max-width:375px){
    .privacyMsgBox p {
        font-size: 14px;
    }
}


